@model SEP_Team1.Models.MonHoc
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to VLU</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="shortcut icon" href="//hoctructuyen.vanlanguni.edu.vn/pluginfile.php/1/theme_uikit/favicon/1488950473/favicon.ico">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/NewLogin/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/NewLogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/NewLogin/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/NewLogin/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/NewLogin/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/NewLogin/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/NewLogin/css/main.css">
    <!--===============================================================================================-->
</head>
<body>


    <div class="limiter">
        <div class="container-login100" style="background-image: url('../Content/NewLogin/images/bg-03.jpg');">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="~/Content/NewLogin/images/L5.png" alt="IMG">
                </div>
                @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "login100-form validate-form" }))
                {
                    @Html.AntiForgeryToken()
                    <form class="login100-form validate-form" action="Login" method="post">
                       

                        <div class="js-tilt">
                            <span class="login100-form-title">
                                Welcome to Van Lang University
                            </span>
                            <div style="color:red">@ViewBag.mgs</div>
                            <div class="wrap-input100 validate-input">
                                <input class="input100" type="text" id="username" name="username" placeholder="Username">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </span>
                            </div>

                            <div class="wrap-input100 validate-input" data-validate="Password is required">
                                <input class="input100" type="password" id="password" name="password" placeholder="Password">
                                <span class="focus-input100"></span>
                                <span class="symbol-input100">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </span>
                            </div>

                            <div class="container-login100-form-btn">
                                <button type="submit" class="login100-form-btn">
                                    Login
                                </button>
                            </div>

                            <div class="text-center p-t-12">
                                <span class="txt1">
                                   Office:
                                </span>
                                <a class="txt2" href="https://www.google.com/maps/place/%C4%90%E1%BA%A1i+h%E1%BB%8Dc+V%C4%83n+Lang+c%C6%A1+s%E1%BB%9F+1/10.7629362,106.6933355,15z/data=!4m2!3m1!1s0x0:0x949d258c9508b1f2?sa=X&ved=0ahUKEwi0pq7jhP7bAhXRbX0KHQpbCJ0Q_BII0gEwEw">
                                    45 Nguyen Khac Nhu - Co Giang Ward  District 1 - HCMC
                                </a>
                            </div>
                        </div>
                            <div class="text-center p-t-136">
                                <a class="txt2" href="#">
                                    © 2018 VLU Attendance Website by MadGuy
                                 
                                </a>
                            </div>
                      
                    </form>
                }
            </div>
        </div>
    </div>




    <!--===============================================================================================-->
    <script src="~/Content/NewLogin/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/NewLogin/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/NewLogin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/NewLogin/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/NewLogin/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/Content/Us/js/main.js"></script>

</body>
</html>






